img{
		width:250px;
		border:6px solid blue;
}

body{
	background-color:#8A2BE;
	font-family:BlueViolet;	
}
.red{
		color:red;
		font-size
}
.big_font{
	font-size:32px;	
}
#special_style{
	background-color:yellow;
	border:2px solid red;	
}